# API를 통해 구해온 데이터들을 하나의 DataFrame으로 만듦

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

mpl.rc('font', family='Malgun Gothic')

In [2]:
# csv파일들을 불러옴
finance = pd.read_csv('./data/개인사업자재무정보.csv', index_col = 0)
guarantee = pd.read_csv('./data/개인사업자보증잔액정보.csv', index_col = 0)
deposit = pd.read_csv('./data/개인사업자예금대출정보.csv', index_col = 0)
estimation = pd.read_csv('./data/개인사업자평가정보.csv', index_col = 0)

In [5]:
# pd.merge()함수를 통해 finance와 guarantee DataFrame을 합침
# on 옵션을 통해 기준 column들을 설정
# how 옵션을 통해 어떻게 합칠지 결정 -> inner이므로 공통된 row들만 합침
df = pd.merge(finance, guarantee, on = ['기준년월', '대표자성별명', '대표자연령대명', '설립년도', '사업지역명', '사업업종코드', '사업업종명',
       '종업원수구분명'], how = 'inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2623 entries, 0 to 2622
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기준년월      2623 non-null   int64
 1   대표자성별명    2623 non-null   object
 2   대표자연령대명   2623 non-null   object
 3   설립년도      2623 non-null   int64
 4   사업지역명     2623 non-null   object
 5   사업업종코드    2623 non-null   int64
 6   사업업종명     2623 non-null   object
 7   종업원수구분명   2623 non-null   object
 8   재무기준년도    2623 non-null   int64
 9   자본금액      2623 non-null   int64
 10  매출금액      2623 non-null   int64
 11  영업이익      2623 non-null   int64
 12  당기순이익     2623 non-null   int64
 13  자산총합계금액   2623 non-null   int64
 14  부채총합계금액   2623 non-null   int64
 15  보증잔액      2623 non-null   int64
 16  운전자금대출여부  2623 non-null   object
 17  시설자금대출여부  2623 non-null   object
dtypes: int64(11), object(7)
memory usage: 389.4+ KB

In [6]:
# pd.merge()함수를 통해 df와 deposit DataFrame을 합침
# on 옵션을 통해 기준 column들을 설정
# how 옵션을 통해 어떻게 합칠지 결정 -> inner이므로 공통된 row들만 합침
df = pd.merge(df, deposit, on = ['기준년월', '대표자성별명', '대표자연령대명', '설립년도', '사업지역명', '사업업종코드', '사업업종명',
       '종업원수구분명'], how = 'inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3235 entries, 0 to 3234
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준년월        3235 non-null   int64
 1   대표자성별명      3235 non-null   object
 2   대표자연령대명     3235 non-null   object
 3   설립년도        3235 non-null   int64
 4   사업지역명       3235 non-null   object
 5   사업업종코드      3235 non-null   int64
 6   사업업종명       3235 non-null   object
 7   종업원수구분명     3235 non-null   object
 8   재무기준년도      3235 non-null   int64
 9   자본금액        3235 non-null   int64
 10  매출금액        3235 non-null   int64
 11  영업이익        3235 non-null   int64
 12  당기순이익       3235 non-null   int64
 13  자산총합계금액     3235 non-null   int64
 14  부채총합계금액     3235 non-null   int64
 15  보증잔액        3235 non-null   int64
 16  운전자금대출여부_x  3235 non-null   object
 17  시설자금대출여부_x  3235 non-null   object
 18  예금평잔        3235 non-null   int64
 19  대출평잔        3235 non-null   int64
 20  운전자금대출여부_y  3235 non-null   object
 21  시설자금대출여부_y  3235 non-null   object
dtypes: int64(13), object(9)
memory usage: 581.3+ KB

In [7]:
# pd.merge()함수를 통해 df와 estimation DataFrame을 합침
# on 옵션을 통해 기준 column들을 설정
# how 옵션을 통해 어떻게 합칠지 결정 -> inner이므로 공통된 row들만 합침
df = pd.merge(df, estimation, on = ['기준년월', '대표자성별명', '대표자연령대명', '설립년도', '사업지역명', '사업업종코드', '사업업종명',
       '종업원수구분명'], how = 'inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4464 entries, 0 to 4463
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준년월        4464 non-null   int64
 1   대표자성별명      4464 non-null   object
 2   대표자연령대명     4464 non-null   object
 3   설립년도        4464 non-null   int64
 4   사업지역명       4464 non-null   object
 5   사업업종코드      4464 non-null   int64
 6   사업업종명       4464 non-null   object
 7   종업원수구분명     4464 non-null   object
 8   재무기준년도      4464 non-null   int64
 9   자본금액        4464 non-null   int64
 10  매출금액        4464 non-null   int64
 11  영업이익        4464 non-null   int64
 12  당기순이익       4464 non-null   int64
 13  자산총합계금액     4464 non-null   int64
 14  부채총합계금액     4464 non-null   int64
 15  보증잔액        4464 non-null   int64
 16  운전자금대출여부_x  4464 non-null   object
 17  시설자금대출여부_x  4464 non-null   object
 18  예금평잔        4464 non-null   int64
 19  대출평잔        4464 non-null   int64
 20  운전자금대출여부_y  4464 non-null   object
 21  시설자금대출여부_y  4464 non-null   object
 22  신용평가등급명     4464 non-null   object
dtypes: int64(13), object(10)
memory usage: 837.0+ KB

In [8]:
# guarantee와 deposit DataFrame에 공통된 column('운전자금대출여부', '시설자금대출여부')들이 있어 중복으로 들어간 것을 확인
# drop()함수를 통해 중복된 열을 지움
# inplace = True 옵션을 설정하면 원래 DataFrame 내의 값을 바꿈
# inplace = False(default)일 때에는 새로운 객체를 통해 저장해줘야 함(ex. new_df = df.rename())
df.drop(columns = ['운전자금대출여부_y', '시설자금대출여부_y'], inplace = True)
# rename()함수를 통해 column명 변경
# inplace = True 옵션을 설정하면 원래 DataFrame 내의 값을 바꿈
# inplace = False(default)일 때에는 새로운 객체를 통해 저장해줘야 함(ex. new_df = df.rename())
df.rename(columns = {'운전자금대출여부_x' : '운전자금대출여부', '시설자금대출여부_x' : '시설자금대출여부'}, inplace = True)

In [10]:
# to_csv 함수를 통해 csv파일로 저장
# sep = ',' -> csv(comma seperated values)이므로 구분자는 ','
# na_rep = 'NaN' -> DataFrame의 결측값을 어떻게 저장할지 지정해주는 옵션
# encoding = 'utf-8-sig' -> csv파일을 저장할 때 한글이 있다면 'utf-8-sig'로 지정해줘야 함
df.to_csv('C:\\Users\\DMC CONET\\Documents\\python\\project1\\data\\종합데이터.csv', encoding = 'utf-8-sig', sep = ',', na_rep = 'NaN')

# 가설검정

In [11]:
import scipy.stats as stats # 가설검정을 위한 패키지

## 연속형 변수

### 신용등급별 자본금액

In [13]:
# 집단 별 평균의 차이가 있는지 검정하기 위해 집단을 구분할 조건을 지정
cond1 = df['신용평가등급명'] == '보통이하'
cond2 = df['신용평가등급명'] == '양호'
cond3 = df['신용평가등급명'] == '우수'

# 정규성 검정
print(stats.normaltest(df['자본금액']))
# 자본금액의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

# 비정규분포, 3개 이상의 집단 간 비교 -> stats.kruskal()
print(stats.kruskal(df[cond1]['자본금액'], df[cond2]['자본금액'], df[cond3]['자본금액']))
# 신용등급별 자본금액 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=52200.395648896636, pvalue=0.0)
KruskalResult(statistic=292.69123689147904, pvalue=2.7727164454269814e-64)

### 신용등급별 매출금액

In [14]:
print(stats.normaltest(df['매출금액']))
# 매출금액의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['매출금액'], df[cond2]['매출금액'], df[cond3]['매출금액']))
# 신용등급별 매출금액 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=12520.757806544945, pvalue=0.0)
KruskalResult(statistic=56.56727742825998, pvalue=5.206810575971448e-13)

### 신용등급별 영업이익

In [15]:
print(stats.normaltest(df['영업이익']))
# 영업이익의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['영업이익'], df[cond2]['영업이익'], df[cond3]['영업이익']))
# 신용등급별 영업이익 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=246.45161893280851, pvalue=3.0458668951488945e-54)
KruskalResult(statistic=160.20760556376177, pvalue=1.6268985510472708e-35)

### 신용등급별 당기순이익

In [16]:
print(stats.normaltest(df['당기순이익']))
# 당기순이익의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['당기순이익'], df[cond2]['당기순이익'], df[cond3]['당기순이익']))
# 신용등급별 당기순이익 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=1261.4881130877802, pvalue=1.1785194372601814e-274)
KruskalResult(statistic=241.5810840508668, pvalue=3.4780364750865303e-53)

### 신용등급별 자산총합계금액

In [17]:
print(stats.normaltest(df['자산총합계금액']))
# 당기순이익의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['자산총합계금액'], df[cond2]['자산총합계금액'], df[cond3]['자산총합계금액']))
# 신용등급별 자산총합계금액 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=1125.6473269640608, pvalue=3.705003863437866e-245)
KruskalResult(statistic=177.99490001705533, pvalue=2.2330505677107722e-39)

### 신용등급별 부채총합계금액

In [18]:
print(stats.normaltest(df['부채총합계금액']))
# 부채총합계금액의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['부채총합계금액'], df[cond2]['부채총합계금액'], df[cond3]['부채총합계금액']))
# 신용등급별 부채총합계금액 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=7294.042379485789, pvalue=0.0)
KruskalResult(statistic=60.010692004923925, pvalue=9.307730574667615e-14)

### 신용등급별 보증잔액

In [19]:
print(stats.normaltest(df['보증잔액']))
# 보증잔액의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['보증잔액'], df[cond2]['보증잔액'], df[cond3]['보증잔액']))
# 신용등급별 보증잔액 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=33384.5315717331, pvalue=0.0)
KruskalResult(statistic=22.768784217303143, pvalue=1.1371593521083084e-05)

### 신용등급별 예금평잔

In [22]:
print(stats.normaltest(df['예금평잔']))
# 보증잔액의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['예금평잔'], df[cond2]['예금평잔'], df[cond3]['예금평잔']))
# 신용등급별 보증잔액 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=650.8390503000402, pvalue=4.6999790682130145e-142)
KruskalResult(statistic=74.8511475467561, pvalue=5.575448750782878e-17)

### 신용등급별 대출평잔

In [23]:
print(stats.normaltest(df['대출평잔']))
# 보증잔액의 분포는 정규분포를 따르지 않는다.(p-value < 0.05)

print(stats.kruskal(df[cond1]['대출평잔'], df[cond2]['대출평잔'], df[cond3]['대출평잔']))
# 신용등급별 보증잔액 평균에는 차이가 있다. (p-value < 0.05)

NormaltestResult(statistic=31023.79191900247, pvalue=0.0)
KruskalResult(statistic=38.634256888823685, pvalue=4.0801648521338054e-09)

## 범주형 변수

### 신용등급별 운전자금대출여부

In [20]:
# 범주형 변수(운전자금대출여부, 신용등급) 간 연관성이 있는지 검정하기 위해 카이제곱 검정 실시

new_df = pd.crosstab(df['신용평가등급명'], df['운전자금대출여부'])
stats.chi2_contingency(new_df)
# 신용등급과 운전자금대출여부는 상관이 있다. (p-value < 0.05)

(11.931872385730621,
 0.002564642483140515,
 2,
 array([[   9.17921147, 2551.82078853],
        [   3.7562724 , 1044.2437276 ],
        [   3.06451613,  851.93548387]]))

### 신용등급별 시설자금대출여부

In [21]:
new_df = pd.crosstab(df['신용평가등급명'], df['시설자금대출여부'])
stats.chi2_contingency(new_df)
# 신용등급과 시설자금대출여부는 상관이 있다. (p-value < 0.05)

(57.465288489916176,
 3.3233122922429104e-13,
 2,
 array([[2442.24395161,  118.75604839],
        [ 999.40322581,   48.59677419],
        [ 815.35282258,   39.64717742]]))