# 선형회귀를 통해 가중치 구하기(실패)

In [1]:
import pandas as pd

In [2]:
# csv파일을 불러옴
# index_col = 0 옵션 -> DataFrame의 첫 column이 'unnamed: 0'가 되는 것을 방지
df = pd.read_csv('./data/종합데이터.csv', index_col = 0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4464 entries, 0 to 4463
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기준년월      4464 non-null   int64
 1   대표자성별명    4464 non-null   object
 2   대표자연령대명   4464 non-null   object
 3   설립년도      4464 non-null   int64
 4   사업지역명     4464 non-null   object
 5   사업업종코드    4464 non-null   int64
 6   사업업종명     4464 non-null   object
 7   종업원수구분명   4464 non-null   object
 8   재무기준년도    4464 non-null   int64
 9   자본금액      4464 non-null   int64
 10  매출금액      4464 non-null   int64
 11  영업이익      4464 non-null   int64
 12  당기순이익     4464 non-null   int64
 13  자산총합계금액   4464 non-null   int64
 14  부채총합계금액   4464 non-null   int64
 15  보증잔액      4464 non-null   int64
 16  운전자금대출여부  4464 non-null   object
 17  시설자금대출여부  4464 non-null   object
 18  예금평잔      4464 non-null   int64
 19  대출평잔      4464 non-null   int64
 20  신용평가등급명   4464 non-null   object
dtypes: int64(13), object(8)
memory usage: 767.2+ KB

In [4]:
df.columns

Index(['기준년월', '대표자성별명', '대표자연령대명', '설립년도', '사업지역명', '사업업종코드', '사업업종명',
       '종업원수구분명', '재무기준년도', '자본금액', '매출금액', '영업이익', '당기순이익', '자산총합계금액',
       '부채총합계금액', '보증잔액', '운전자금대출여부', '시설자금대출여부', '예금평잔', '대출평잔', '신용평가등급명'],
      dtype='object')

In [5]:
# 전처리 전 연속형 변수명들과 범주형 변수들명을 따로 뽑아 리스트로 만듦
numeric_list = ['자본금액', '매출금액', '영업이익', '당기순이익', '자산총합계금액',
       '부채총합계금액', '보증잔액', '예금평잔', '대출평잔']
category_list = ['종업원수구분명', '운전자금대출여부', '시설자금대출여부']

In [6]:
# 연속형 변수들과 범주형 변수들을 나눠줌 -> 전처리 과정이 다르기 때문
# y(target) 설정
X_numeric = df[numeric_list]
X_category = df[category_list]
y = df['신용평가등급명']

In [7]:
# 회귀(Regression)이므로 범주형인 '신용평가등급명'을 연속형으로 변환
y_numeric = df['신용평가등급명'].replace({'보통이하' : 0, '양호' : 1, '우수' : 2})

### 범주형 변수 전처리(OneHotEncoding)

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
ohe = OneHotEncoder()
X_cat_matrix = ohe.fit_transform(X_category)
X_cat_ohe = pd.DataFrame(X_cat_matrix.toarray(), columns = ohe.get_feature_names())

C:\Users\DMC CONET\miniconda3\envs\tf_gpu\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### 연속형 변수 전처리(MinMaxScaler)

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
scaler = MinMaxScaler()
scaler.fit(X_numeric[numeric_list])
X_numeric[numeric_list] = scaler.transform(X_numeric[numeric_list])

C:\Users\DMC CONET\AppData\Local\Temp\ipykernel_1368\2663967991.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_numeric[numeric_list] = scaler.transform(X_numeric[numeric_list])

### 전처리가 완료된 변수들을 합침

In [12]:
X = pd.concat([X_numeric, X_cat_ohe], axis = 1)
X

,자본금액,매출금액,영업이익,당기순이익,자산총합계금액,부채총합계금액,보증잔액,예금평잔,대출평잔,x0_0명,x0_10명 이상 30명 미만,x0_1명 이상 5명 미만,x0_5명 이상 10명 미만,x1_N,x1_Y,x2_N,x2_Y
0,0.198895,0.611314,0.801829,0.829949,0.201190,0.255725,1.000000,0.444444,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1,0.198895,0.611314,0.801829,0.829949,0.201190,0.255725,1.000000,0.444444,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,0.198895,0.611314,0.801829,0.829949,0.201190,0.255725,1.000000,0.444444,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,0.198895,0.611314,0.801829,0.829949,0.201190,0.255725,1.000000,0.444444,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,0.198895,0.611314,0.801829,0.829949,0.201190,0.255725,1.000000,0.000000,0.427586,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4459,1.000000,1.000000,0.792683,0.847716,0.464286,0.347328,1.000000,0.166667,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4460,1.000000,1.000000,0.792683,0.847716,0.464286,0.347328,0.173469,0.000000,0.131034,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4461,1.000000,1.000000,0.792683,0.847716,0.464286,0.347328,0.173469,0.000000,0.131034,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4462,1.000000,1.000000,0.792683,0.847716,0.464286,0.347328,0.173469,0.166667,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4463,1.000000,1.000000,0.792683,0.847716,0.464286,0.347328,0.173469,0.166667,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

### 학습 데이터와 검증 데이터 분할

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y_numeric, random_state = 42)

### 선형회귀(LinearRegression)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [17]:
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

### y('신용평가등급명')에 대한 변수들의 상관성 확인

In [18]:
pd.DataFrame([list(model.coef_)], columns = X_train.columns)

,자본금액,매출금액,영업이익,당기순이익,자산총합계금액,부채총합계금액,보증잔액,예금평잔,대출평잔,x0_0명,x0_10명 이상 30명 미만,x0_1명 이상 5명 미만,x0_5명 이상 10명 미만,x1_N,x1_Y,x2_N,x2_Y
0,0.074269,0.247273,-0.540591,1.136091,-0.777728,0.06581,0.054695,-0.11519,0.160205,-8.997832e+12,-8.997832e+12,-8.997832e+12,-8.997832e+12,2.029180e+11,2.029180e+11,2.152355e+11,2.152355e+11

### 선형회귀의 결정계수 확인

##### 결정계수 : 회귀식이 y를 얼마나 잘 설명하는가를 수치화한 것

###### 1에 가까울수록 정확한 회귀식이 된다

In [19]:
from sklearn.metrics import r2_score

In [20]:
r2_score(y_test, y_test_pred)

0.18087635962280468